<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Spring eCommerce</title>


        <!-- Bootstrap core CSS -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link th:href="@{/css/heroic-features.css}" rel="stylesheet" type="text/css">

    </head>

    <body>

        <!-- Navigation -->
        <div th:include="admin/template.html::header"></div>
        <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Spring eCommerce</a>

                <form class="form-inline my-2 my-lg-0" method="post"
                      action="#">
                    <input class="form-control mr-sm-2" type="search"
                           placeholder="Buscar" aria-label="Search" name="nombre"
                           autocomplete="off">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown"><a
                                class="nav-link dropdown-toggle" href="#"
                                id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> ADMIN </a>
                            <div class="dropdown-menu"
                                 aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Productos</a> <a
                                    class="dropdown-item" href="#">Ordenes</a> <a
                                    class="dropdown-item" href="#">Usuarios</a> <a
                                    class="dropdown-item" href="#">Salir</a>
                            </div></li>
                    </ul>
                </div>
            </div>
        </nav>-->

        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">
                Spring eCommerce <small>Products</small>
            </h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">See Products</li>
            </ol>

            <a class="btn btn-primary" th:href="@{/product/create}" > Create Product</a>
            <h2>Products</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Inventory</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product:${products}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="${product.price}"></td>
                        <td><a  class="btn btn-warning" th:href="@{product/edit/{id} (id=${product.id})}">Edit</a> </td>
                        <td><a  class="btn btn-danger" th:href="@{product/delete/{id} (id=${product.id})}">Delete</a> </td>
                    </tr>       
                </tbody>
            </table>

        </div>
        <!-- /.container -->

        <!-- Footer -->
        <div th:include="admin/template.html::footer"></div>
        <!--<footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Spring eCommerce 2020</p>
            </div>
        </footer>-->
        
        <!-- Bootstrap core JavaScript -->
        <script th:src="@{vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    </body>

</html>
