<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Spring eCommerce</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link th:href="@{/css/heroic-features.css}" rel="stylesheet" type="text/css">

    </head>

    <body>

        <!-- Navigation -->
        <div th:if="${userSession==null}" th:include="user/template.html::header"></div>
        <div th:unless="${userSession==null}" th:include="user/template.html::header-user"></div>

        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">
                Spring eCommerce <small>Shopping Cart</small>
            </h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">Shopping Cart</li>
            </ol>

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="orderDetail:${details}">
                                        <td th:text="${orderDetail.name}"></td>
                                        <td th:text="${orderDetail.price}"></td>
                                        <td th:text="${orderDetail.quantity}"></td>
                                        <td th:text="${orderDetail.total}"></td>
                                        <td><a th:href="@{/cart/{id}/delete (id=${orderDetail.product.id})}" class="btn btn-danger">Take Out</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-lg-3">
                            <h2 class="card-title">SUBTOTAL</h2>

                            <ul class="list-group">
                                <li class="list-group-item"><h5 th:text="'Total: ' + ${order.total}"></h5></li>
                                <a th:href="@{/order}" class="btn btn-dark">See Order</a>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div th:include="user/template.html::footer"></div>

            <!-- Bootstrap core JavaScript -->
            <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
            <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    </body>

</html>
